# Data
data/raw/
data/processed/
*.parquet
*.feather

# Models
models/
*.pkl
*.joblib

# Environments
.env
.venv/
env/
venv/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# System
.DS_Store

# MLflow
mlruns/
mlflow.db

# DVC
.dvc/